#icoRS {
    
    vertical-align: middle;
}
ul, li{
    height: 100%;
}
#barra {
    width: 250px;
    margin-left: 60px;
    position: relative;
}

si1{
    background-color: black;
}
#nb1, nb2{
    height: 30px;
    border-radius: 15px;
}
#btns {
    background-color: white;
    border-color: rgba(221, 220, 220, 0.986);
    border-left: #2b6cb0;
}

#ico {
    width: 15px;
    position: relative;
    margin-right: 7px;
    bottom: 2px;

}

.btn btn-secondary{
    background-color: transparent;
    
}

.btn-group button{
    background-color: transparent;
    border-color: transparent;

}

#p{
    background-color: darkblue;
    height: 100%;
}
.btn-group button:hover {
    background-color: transparent;
    border-color: transparent;

}

#x {
    color: white;
}

#x:hover {
    background-color: white;
    color: rgb(10, 9, 9);
}

.navbar {
    background-color: #2b6cb0;
}